body {
<<<<<<< HEAD
    background-color: #fff55a;
}
p {
    font-weight:bold;
=======
    background: #ccc;
    font-family: helvetica, arial, serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
>>>>>>> Use_of_Alternate_Stylesheet
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: block;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Copperplate;
}

li a:hover {
    background-color: #111;
}
h1 {
    color:blue;
    font-weight:bold;
}